@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* share style */
.display-flex{
    display: flex;
}
.dark1{
    color: #000000;
}
.dark2{
    color: #727272;
}
.dark3{
    color: #727272;
}
.orange{
    color: #FF900E;
}
.first-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 24px;
    border: none;
    border-radius: 16px;
    font-size: 1.25rem;
    font-weight: 600px;
}
main > section{
    margin-top: 130px;
}
/* header */
.navbar,.banner{
    max-width: 1440px;
    margin: 0px auto;
}
/* nav style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
}
.band-title{
    font-size: 2.8rem;
    font-weight: bold;
}
/* banner style */
.banner-content{
    max-width: 860px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400px;
}
.banner-image{
    width: 100%;
}
/* main style */
main{
    max-width: 1440px;
    margin: 0px auto;
}
/* feature section */
.teams{
    justify-content: center;
    align-items: center;
    gap: 73px;
}
.teams-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feature{
    max-width: 537px;
    margin: 0px auto;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: bold;
}
.feature-description{
    font-size: 1rem;
    font-weight: 400px;
    padding-bottom: 32px;
}
.teams-image img{
    width: 100%;
    height: 100%;
}
#quick-list{
    font-weight: 500px;
}

/* some facts section */
.section-title{
    font-size: 2.8rem;
    font-weight: bold;
     width: 258px;
}
.section-description{
    font-size: 1.25rem;
    font-weight: 400px;
    width: 542px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
}

.card{
    width: 242px; 
    height: 242px;
    margin: 0px auto;
    border: 1px solid #FF900E;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    margin-top: 90px;
}
.card-number{
    font-size: 2.8rem;
    font-weight: 600px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.card-name{
    font-size: 1.25rem;
    font-weight: 600px;
}
/* sponsor */
.sponsor-info{
    max-width: 541px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: bold;
}
.sponsor-description{
    font-size: 1rem;
    font-weight: 400px;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
}
.sponsor-company img{
    filter: grayscale(100%);
}
/* footer section */
footer{
    max-width: 1440px;
    margin: 0px auto;
    height: 100px;
    margin-top: 150px;
}
.footer-content{
    max-width: 620px;
    margin: 0px auto;
    padding: 39px 410px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400px;
}
/* feature section */
.features{
    display: flex;
    gap: 146px;
}
#fea-title{
    border-left: 5px solid #FF900E;
}
.features-title{
    padding-left: 10px;
    font-size: 2.8rem;
    font-weight: bold;
}
.features-card{
    padding: 30px;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 24px;
}
.features-card-title{
    margin: 0px;
}
#btn-number{
    font-size: 4rem;
    font-weight: bold;
}
.fea-btn{
    margin-left: -100px;
    padding: 30px;
    margin-top: -199px;
}
/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams,
    .features{
        flex-direction: column;
    }
    .teams-image{
        grid-template-columns: repeat(1,1fr);
    }
    .our-feature{
        padding-left: 15px;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
    }
    .section-description{
        width: 90%;
    }
    .sponsor-company{
        grid-template-columns: repeat(1,1fr);
        margin-left: 120px;
    }
    .sponsor-company img{
        margin-bottom: 30px;
    }
    .footer-content{
        padding: 0px;
        padding-top: 30px;
    }
    .features img{
        width: 90%;
        margin-left: 20px;
        margin-bottom: 200px;
    }
    .features button{
        width: 70%;
        margin-left: 70px;
    }
}
/* responsive media tab device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-feature{
        margin: 50px auto;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
    .section-description,.section-title{
        margin-left: 100px;
    }
    .sponsor-company img{
        width: 50%;
        margin-left: 30px;
    }
    .footer-content{
        padding: 0px;
        padding-top: 39px;
    }
    .features{
        flex-wrap: wrap;
        padding: 20px;
    }
    .features img{
        margin-left: 75px;
        margin-bottom: 200px;
    }
    .features button{
        margin-left: 250px;
    }
}