@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* share style */
.display-flex{
    display: flex;
}
.dark1{
    color: #000000;
}
.dark2{
    color: #727272;
}
.dark3{
    color: #727272;
}
.orange{
    color: #FF900E;
}
.first-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 24px;
    border: none;
    border-radius: 16px;
    font-size: 1.25rem;
    font-weight: 600px;
}
main > section{
    margin-top: 130px;
}
/* header */
.navbar,.banner{
    max-width: 1440px;
    margin: 0px auto;
}
/* nav style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
}
.band-title{
    font-size: 2.8rem;
    font-weight: bold;
}
/* banner style */
.banner-content{
    max-width: 860px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400px;
}
.banner-image{
    width: 100%;
}
/* main style */
main{
    max-width: 1440px;
    margin: 0px auto;
}
/* feature section */
.teams{
    justify-content: center;
    align-items: center;
    gap: 73px;
}
.teams-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feature{
    max-width: 537px;
    margin: 0px auto;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: bold;
}
.feature-description{
    font-size: 1rem;
    font-weight: 400px;
    padding-bottom: 32px;
}
.teams-image img{
    width: 100%;
    height: 100%;
}
#quick-list{
    font-weight: 500px;
}
/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .teams-image{
        grid-template-columns: repeat(1,1fr);
    }
    .our-feature{
        padding-left: 15px;
    }
}
/* responsive media tab device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-feature{
        margin: 50px auto;
    }
}